*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .row{
    margin: 0;
} */

/* .container-fluid{
    margin: 0;
}

.test {
    border: 1px solid black;
} */

.header{
    height: 100px;
}

header h2{
    padding: 0 16px
}

header img{
    max-height: 100px;
}

footer{
    max-height: 100px;
}
/* 
a{
    color: black;
} */

.main > h1, .main > p{
    animation: slide-right 1.5s;
}
.main > button{
    animation: show 3s;
}

.portfolio{
    animation: slide-right 1.5s;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-200%);
      }
      /* 50% {
        transform: translateX(110%);
      } */
    to {
        transform: translateX(0%);    
      }
}