* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    list-style: none;
    font-family: monospace;
}

header{
    background: linear-gradient(rgb(115, 158, 147), rgb(70, 130, 170));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo{
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 25px;
}

header img {
    width: 100px;
}

.link {
    padding: 15px;
    margin: 10px 25px;
    border: 2px outset white;
    background-color: rgb(243, 242, 234);
    transition: 0.3s;
}

.link:hover {
    background-color: rgb(226, 226, 226);
    border: 2px inset white;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

body:not(header) {
    /* background-color: rgb(217, 255, 245); */
    background-color: rgb(0, 0, 201);
    word-wrap: break-word;
}

body p {
    color: white;
}


footer {
    background-color: blue;
    padding: 10px;
}

footer span {
    background-color: green;
    padding: 10px;
    margin-left: -10px;
    color: white;
}

footer span:hover {
    color:black;
}

main p {
    text-align: justify;
    font-weight: 600;
    
}

