* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,body{
	height: 100%;
	width: 100%;
}

.test {
    border: 1px solid black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.column {
    flex-direction: column;
}

.between{
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.start {
    align-items: start;
}

.center {
    align-items: center;
}

.end {
    align-items: end;
}

.w-100 {
    width: 100%;
}